// out:false
@mixin Width {
	&-10 {
		width: 25%;
	}

	&-25 {
		width: 25%;
	}

	&-33 {
		width: calc(100% / 3);
	}

	&-50 {
		width: 50%;
	}

	&-60 {
		width: 60%;
	}

	&-75 {
		width: 75%;
	}

	&-100 {
		width: 100%;
	}


	&-auto {
		width: auto !important;
	}
}

.w {
	@include AddMedia {
		@include Width;
	}

}