// out:false
@mixin Width {
	&-10 {
		width: 10%;
	}

	&-15 {
		width: 15%;
	}

	&-25 {
		width: 25%;
	}

	&-33 {
		width: calc(100% / 3);
	}

	&-40 {
		width: 50%;
	}

	&-50 {
		width: 50%;
	}

	&-60 {
		width: 60%;
	}

	&-66 {
		width: calc(2 * 100% / 3);
	}

	&-75 {
		width: 75%;
	}

	&-100 {
		width: 100%;
	}


	&-auto {
		width: auto !important;
	}
}

.w {
	@include AddMedia {
		@include Width;
	}

}