<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Просмотр статистики - Stargame</title>
</head>

<body>
	<div class="root">
		
		<%= _.template(require('./html-includes/admin-header.html').default)() %>
		<%= _.template(require('./html-includes/header.html').default)() %>
		<div class="wrapper">
			<div class="wrapper-inner">
				<%= _.template(require('./html-includes/sidebar.html').default)() %>
				<div class="content container">
					<div class="text-h6 text-md-h4 color-primary mb-5">Просмотр статистики</div>

					<div class="d-md-flex mb-5 flex-wrap">
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">Таблица дохода по залам</span>
						</button>
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mt-2 mt-md-0 mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">График дохода по залам</span>
						</button>
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mt-2 mt-md-0 mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">Статистика по странам</span>
						</button>
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mt-2 mt-md-0 mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">Таблица доходов по играм</span>
						</button>
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mt-2 mt-md-0 mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">Статистика по валютам</span>
						</button>
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mt-2 mt-md-0 mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">Статистика доходов по депозитам</span>
						</button>
						<button class="btn btn--primary bg-l3 color-text px-8 mr-md-5 w-100 w-md-auto mt-2 mt-md-0 mb-md-5">
							<span class="text-body-2 text-md-body-1 text--demibold">Pachinko</span>
						</button>
					</div>

					<%= _.template(require('./html-includes/search-by-period.html').default)() %>


					<div class="grid grid-spacing-lg-10">
						<div class="grid-col-sm-4">
							<div class="text-body-1 text--bold mb-2">Суперагенты</div>
							<div class="card py-1 pr-1">
								<div class="scroll-box scroll-box-small ">
									<% for(let i = 0; i < 10; i++){ %>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">adminstar</div>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">albert888</div>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">qpokycHuk</div>
									<% } %>
								</div>
							</div>
						</div>
						<div class="grid-col-sm-4">
							<div class="text-body-1 text--bold mb-2">Агенты</div>
							<div class="card py-1 pr-1">
								<div class="scroll-box scroll-box-small ">
									<% for(let i = 0; i < 10; i++){ %>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">adminstar</div>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">albert888</div>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">qpokycHuk</div>
									<% } %>
								</div>
							</div>
						</div>
						<div class="grid-col-sm-4">
							<div class="text-body-1 text--bold mb-2">Залы</div>
							<div class="card py-1 pr-1">
								<div class="scroll-box scroll-box-small ">
									<% for(let i = 0; i < 10; i++){ %>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">adminstar</div>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">albert888</div>
									<div class="text-body-2 px-3 py-1 w-100 link-hover">qpokycHuk</div>
									<% } %>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>