<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Графики - Stargame</title>
</head>

<body>
	<div class="root">
		
		<%= _.template(require('./html-includes/header.html').default)() %>

		<div class="wrapper">
			<div class="wrapper-inner">
				<%= _.template(require('./html-includes/sidebar.html').default)() %>

				<div class="content container">
					<div class="text-h6 text-md-h4 color-primary mb-5">Графики</div>

					<%= _.template(require('./html-includes/tabs-by-period.html').default)() %>

					<table class="table mb-5">
						<tbody class="table-body">
							<tr class="table-row">
								<td class="table-cell table-cell--mark text-body-2 text--center text--demibold"><div class="px-3"> 10.2.2.34 </div></td>
								<td class="table-cell text-body-2 w-100"><div class="fade-80 pl-6"> 27 hours 50 min 47 sec online </div></td>
							</tr>
							<tr class="table-row">
								<td class="table-cell table-cell--mark text-body-2 text--center text--demibold"><div class="px-3"> live</div></td>
								<td class="table-cell text-body-2 w-100"><div class="fade-80 pl-6"> 0 hours 0 min 0 sec online </div></td>
							</tr>
							<tr class="table-row">
								<td class="table-cell table-cell--mark text-body-2 text--center text--demibold"><div class="px-3"> 10.2.2.34 </div></td>
								<td class="table-cell text-body-2 w-100"><div class="fade-80 pl-6"> 27 hours 50 min 47 sec online </div></td>
							</tr>
						</tbody>
					</table>

					<div class="grid grid-spacing-5">
						<div class="grid-col-12">
							<div class="chart card accordion" data-toggle-cover>
								<div class="chart-header accordion-header" data-toggle-link>
									<div class="text--demibold">Memory</div>
									<div class="accordion-icon d-sm-none">
										<svg class="icon fade-60">
											<use xlink:href="img/icons.svg#to-down" />
										</svg>
									</div>
									<div class="chart-lines  d-none d-sm-flex ml-auto">
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox">
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #274EC0;"></div>
											<div class="text-small ml-1"> 10.2.2.32 </div>
										</label>
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox">
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #D12411;"></div>
											<div class="text-small ml-1"> 10.2.2.34 </div>
										</label>
									
									</div>
								</div>
								<div class="chart-inner accordion-content" data-toggle-content data-toggle-height="true" data-toggle-static="true">
									<div class="chart-content">
										<div class="image image--rect bg-l2" style="max-height:300px"><div class="card-center-control fade-60 text-h6">Заглушка</div></div>
									</div>
									<div class="chart-lines d-sm-none mt-3">
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox">
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #274EC0;"></div>
											<div class="text-small ml-1"> 10.2.2.32 </div>
										</label>
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox">
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #D12411;"></div>
											<div class="text-small ml-1"> 10.2.2.34 </div>
										</label>
									
									</div>
								</div>
							</div>

						</div>
						<% for(let i=0; i < 2; i++ ){ %>
						<div class="grid-col-md-6">
							<div class="chart card accordion" data-toggle-cover>
								<div class="chart-header accordion-header" data-toggle-link>
									<div class="text--demibold">Servers online</div>
									<div class="accordion-icon d-sm-none">
										<svg class="icon fade-60">
											<use xlink:href="img/icons.svg#to-down" />
										</svg>
									</div>
									<div class="chart-lines d-none d-sm-flex ml-auto">
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox" checked>
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #274EC0;"></div>
											<div class="text-small ml-1"> 10.2.2.32 </div>
										</label>
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox" checked>
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #D12411;"></div>
											<div class="text-small ml-1"> 10.2.2.34 </div>
										</label>
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox">
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #00C72C;"></div>
											<div class="text-small ml-1"> live </div>
										</label>
									
									</div>
								</div>
								<div class="chart-inner accordion-content" data-toggle-content data-toggle-height="true" data-toggle-static="true">
									<div class="chart-content">
										<div class="image image--rect bg-l2" style="max-height:300px"><div class="card-center-control fade-60 text-h6">Заглушка</div></div>
									</div>
									<div class="chart-lines d-sm-none mt-3">
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox" checked>
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #274EC0;"></div>
											<div class="text-small ml-1"> 10.2.2.32 </div>
										</label>
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox" checked>
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #D12411;"></div>
											<div class="text-small ml-1"> 10.2.2.34 </div>
										</label>
										<label class="chart-line form-field form-checkbox">
											<input type="checkbox" class="form-input-checkbox">
											<div class="form-checkbox-target">
												<svg class="icon">
													<use xlink:href="./img/icons.svg#gal-ochka" />
												</svg>
											</div>
											<div class="chart-line__icon ml-1" style="background: #00C72C;"></div>
											<div class="text-small ml-1"> live </div>
										</label>
									
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</div>

				</div>
			</div>
		</div>


	</div>
</body>

</html>