<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Управление залом > uganda - Stargame</title>
</head>

<body>
	<div class="root">
		<%= _.template(require('./html-includes/header.html').default)() %>

		<div class="wrapper">
			<div class="wrapper-inner">
				<%= _.template(require('./html-includes/sidebar.html').default)() %>

				<div class="content container">
					<div class="text-h6 text-md-h4 color-primary mb-5">Управление залом > uganda</div>
					
					<button class="btn btn--primary btn--fill">
						<svg class="icon mr-1 text-subtitle-2">
							<use xlink:href="img/icons.svg#lock" />
						</svg>
						Заблокировать зал
					</button>

					<!-- ^ Общие настройки зала -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Общие настройки зала</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Идентификатор</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">8531</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Название</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<div class="p-2 mr-1" style="background: #13A9F6;"></div>
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2">uganda</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Дата создания</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">02-06-2017</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Кем создано</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2">kapitan_ks</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Создание аккаунтов</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary btn--link text-body-2">Включено</button>
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2 ml-3">Выключить</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Баланс</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary btn--link text-body-2">Включено</button>
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2 ml-3">Зачислить кредиты</button>
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2 ml-3">Списать кредиты</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Стиль зала</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Novomatic</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Wallet API</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4"></div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Ссылка на tawk (веб селектор)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4"></div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Ссылка на WhatsApp (веб селектор)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4"></div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Таймаут игровой сессии</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">33</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Настройки зала</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn-small btn--primary btn--fill">Изменить настройки зала</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Список игр</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn-small btn--primary btn--fill">Изменить</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ^ /Общие настройки зала -->



					<!-- ~ Внешний вид -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Внешний вид</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Стиль портретного отображения</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Отключен</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Переключение кредиты/деньги</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">При запуске игра показывает в кредитах, переключать можно</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Соблюдать соотношние сторон</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Выключено</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ~ /Внешний вид -->



					<!-- ! Сведения о джекпоте -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Сведения о джекпоте</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Настройки джекпота</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2">Изменить</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Логи джекпота</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2">Просмотр</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Логи выпадения джекпота</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2">Просмотр</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ! /Сведения о джекпоте -->



					<!-- * Платежи и зачисления -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Платежи и зачисления</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Валидатор включен</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<label class="form-field form-checkbox mr-3">
												<input type="checkbox" class="form-input-checkbox">
												<div class="form-checkbox-target">
													<svg class="icon">
														<use xlink:href="./img/icons.svg#gal-ochka" />
													</svg>
												</div>
											</label>
											<button class="btn btn--primary btn--fill btn-small text-body-2">Сохранить</button>
										</div>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>

					<!-- * /Платежи и зачисления -->



					<!-- & Настройки выигрышей -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Настройки выигрышей</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. выигрыш на барабанах</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">2 000</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. выигрыш в риск игре</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">2 000</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. ставка на линию (от 1 до 100)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. ставка на линию (от 1 до 100)</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<div class="text-body-2 fade-80">93%</div>
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2 ml-3">Changelog</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. кол-во раундов в риск игре</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Депозит бонус</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">0</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Цена билета (Бинго)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">100</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. кол-во фриигр (от 50 до  2 000)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">100</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Макс. выигрыш фриигр (от 500 до  50 000)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1000</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- & /Настройки выигрышей -->



					<!-- ^ Настройки деноминации -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Настройки деноминации</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Деноминация</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Включено</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Деноминация MIN</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">0.01</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Деноминация MAX</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">100</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ^ /Настройки деноминации -->


					
					<!-- ~ Настройки бонусов -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Настройки бонусов</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Cashback бонус</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">0</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Фиксированный cashback бонус</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Выключен</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Минимальный депозит для бонуса</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">0</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Cashback бонус в лайф рулетке</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Включен</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Max cashback in wallet api</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ~ /Настройки бонусов -->



					<!-- ! Спортивные ставки -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Спортивные ставки</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">
											Минимальная ставка <br>
											(Мин 0.05 макс 999 999 кратно 0.01)
										</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">0.05</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">
											Максимальная ставка <br>
											(Мин 0.05 макс 999 999 кратно 0.01)
										</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">100</div>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>

					<!-- ! /Спортивные ставки -->



					<!-- * Настройка карточных игр -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Настройка карточных игр</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Скорость раздачи карт (от 25 до 10 000)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">700</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Скорость переворота карты (от 25 до 10 000)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">200</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">
											Скорость удаления карт в корзину <br> (от 25  до 10 000)
										</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Скорость движения фишек (от 25 до 10 000)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Минимальная ставка (не ниже 10 кратно 10)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Максимальная ставка (не более 10 000 кратно 10)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Суммарная ставка в рулетке (мин 1  макс 50 000)</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">10</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="py-5">
											<div class="text-body-2 text--demibold text--center">
												Максимальное покрытие номеров при ставке
												в рулетке
											</div>
											<div class="text-body-2 text--demibold text--center mt-2">
												*Не применимо для столов от Evolution 
												Gaming
											</div>
										</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Выключено</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Фиксированная цена фишки в карточных играх</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1,00 UAH</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Фиксированная цена фишки в рулетках</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1,00 UAH</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Процент</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">88</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">
											Megaball макс выигрыш <br> (USD, мин 200, макс 10 000)
										</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">2500</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">
											Dream catcher макс выигрыш <br> (USD, мин 200, max 10 000)
										</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">2500</div>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>

					<!-- * /Настройка карточных игр -->



					<!-- & Лотерея -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Лотерея</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">KENO</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Включено</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Цена билета</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1,00 UAH</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">BINGO</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Выключено</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Цена билета</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1,00 UAH</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">POKER</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Выключено</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Цена билета</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1,00 UAH</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">GREYHOUND RACING</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">Выключено</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Цена билета</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 fade-80 px-4">1,00 UAH</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- & /Лотерея -->



					<!-- ^ Опции -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Опции</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Блокировка</div>
									</td>
									<td class="table-cell">
										<div class="py-5 px-4">
											<button class="btn btn--primary btn--fill btn-small">Заблокировать</button>
											<div class="text-body-2 text--demibold mt-3">*Будьте внимательны: при блокировке все терминалы зала буду перезагружены!</div>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Удаление</div>
									</td>
									<td class="table-cell">
										<div class="py-5 px-4">
											<button class="btn btn--primary btn--fill btn-small">Удалить зал</button>
											<div class="text-body-2 text--demibold mt-3">
												*При удалении, если в зале была активность или баланс не 0, он будет деактивирован. Иначе, полностью удален без возможности
												восстановления
											</div>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Root-терминал</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<label class="form-field form-field-small field-xsmall flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">295226</option>
														<option value="">295225</option>
														<option value="">295224</option>
														<option value="">295223</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
											<button class="btn btn--primary btn--fill btn-small ml-3">Учредить</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Сменить владельца</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<label class="form-field form-field-small field-xsmall flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">18321 — MichaelUa</option>
														<option value="">18322 — qpokycHuk</option>
														<option value="">18323 — Michael Jackson</option>
														<option value="">18324 — Smith</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
											<button class="btn btn--primary btn--fill btn-small ml-3">Изменить</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ^ /Опции -->



					<!-- ~ Операторы зала -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Операторы зала</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Нет ни одного оператора</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<button class="btn btn--primary color-text btn--link btn--underline text-body-2">Авторизация операторов через смс</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ~ /Операторы зала -->



					<!-- ! Новый оператор -->

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">Новый оператор</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="px-4 py-5 text-body-2 fade-80">
											Каждый оператор имеет свой собственный логин и пароль для входа в систему. Оператор имеет право:

											<ul class="text-ul my-3">
												<li class="text-ul-item">Создавать платежные PIN коды для зачисления денег на счет игрока</li>
												<li class="text-ul-item">Обнулять баланс любого игрока</li>
												<li class="text-ul-item">Напрямую пополнять баланс любого игрока</li>
											</ul>

											Все действия оператора протоколируются в базе данных. История всех действий оператора дотсупна администратору в любое время.
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text-body-2 px-4 py-3">
											*В целях безопасности пароль новому оператору будет сгенерен только автоматически
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Логин</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<label class="form-field form-field-small field-xsmall flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input" placeholder="Введите логин">
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--middle">
										<div class="text-body-2 text--demibold text--center">Пароль</div>
									</td>
									<td class="table-cell">
										<div class="flex px-4">
											<label class="form-field form-field-small field-xsmall flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input" placeholder="Введите пароль" value="ICztrwrRFfsk">
												</div>
											</label>
											<button class="btn btn--primary btn--fill btn-small ml-3">Генерировать</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="flex mt-5">
						<button class="btn btn--primary btn--fill mx-auto">Создать оператора</button>
					</div>

					<!-- ! /Новый оператор -->
				</div>
			</div>
		</div>
	</div>
</body>

</html>