<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Настройки Джекпота > uganda - Stargame</title>
</head>

<body>
	<div class="root">
		<%= _.template(require('./html-includes/header.html').default)() %>

			<div class="wrapper">
				<div class="wrapper-inner">
					<%= _.template(require('./html-includes/sidebar.html').default)() %>

					<div class="content container">
						<div class="text-h6 text-md-h4 color-primary mb-5">Настройки Джекпота > uganda</div>

						<!-- Таблица скрыта на (max-width:$sm) -->
						<div class="d-none d-sm-block">
							<table class="table mt-10">
								<tbody class="table-body">
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Значение джекпота</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												Накопленное значение джекпота на текущий момент времени. Это значение может отличаться от реального, так как джекпот сохраняется примерно каждые 60 минут.
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Активация</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												При достижении этого значения джекпот из пассивного состояния переходит в активное. В пассивном состоянии джекпот не может быть выигран. Когда джекпот в активном состоянии, у каждого игрока есть шанс выиграть джекпот при условии, что ставка игрока удовлетворяет условиям розыгрыша джекпота.
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Таймер</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												Время в секундах. После активации джекпота включается обратный таймер отсчета времени. Стартовое значение таймера равно величине поля 
												Таймер. Шансы игрока выиграть джекпот увеличиваются при приближении таймера к нулю. Когда таймер кончается, джекпот будет 
												гарантировано выигран первым же игроком, ставка которого удовлетворяет условиям розыгрыша джекпота.
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Процент</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												Процент с каждой ставки в джекпот. Значение процента может быть от 1 до 2 (целое число). 1 — рекомендуемое значение. Оно оптимально для залов с небольшим оборотом.
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Макс. значение</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												Если максимальное значение 0, оно игнорируется и джекпот выдается по таймеру. Если больше, чем значение активации, джекпот выдается по макс. значению. Чем ближе накопление к нему, тем выше вероятность выпадения джекпота.
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Мин. ставка</div>
										</td>
										<td class="table-cell">
											<div class=" px-4 py-4">
												<div class="text-body-2 fade-80">
													Минимальная ставка при которой игрок принимает участие в розыгрыше джекпота. При игре на меньшие ставки игрок выиграть джекпот не может.
												</div>
												<div class="text-body-2 text--demibold mt-5">Внимание!!! Указывается в центах</div>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Основное значение</div>
										</td>
										<td class="table-cell">
												<div class=" px-4 py-4">
													<div class="text-body-2 fade-80">
														Основное значение джекпота, по умолчанию 0. Если значение больше нуля, после выпадения каждого джекпота, значение следующего джекпот будет стартовать с этой величины.

													</div>
													<div class="text-body-2 text--demibold mt-5">Внимание!!! Основное значение джекпота снимается с баланса зала</div>
												</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Сообщение</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												Текст сообщения, которое будет выводится на игровом терминале. Допустимы только латинские символы, а также знаки «.», «,», «!», «:».
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Время выпадения джекпота</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4 py-4">
												Вы можете регулировать временной интервал выпадения джекпотов. Минимальный промежуток — 1 час в сутки. Время задается по локальному времени зала.
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>


						<!-- ! Сведения о джекпоте -->
						<!-- Мобильный вариант скрыт на (min-width:$sm) -->
						<div class="d-sm-none">
							<div class="mobile-table  mt-5 accordion" data-toggle-cover>
	
								<div data-toggle-content data-toggle-height="true" data-toggle-static="true" class="accordion-content">
									<div class="mobile-table-item control-mobile-item px-6 py-3">
										<div class="grid grid-spacing-3">
											<div class="grid-col-12">
												<div class=" flex">
													<span class="text-small text-xs-body-2 fade-80 text--demibold">Логи джекпота: </span>
													<button
														class="btn btn--primary color-text btn--link btn--underline text-small text-xs-body-2 ml-3">Просмотр</button>
												</div>
											</div>
											<div class="grid-col-12">
												<div class=" flex">
													<span class="text-small text-xs-body-2 fade-80 text--demibold">Логи выпадения джекпота:
													</span>
													<button
														class="btn btn--primary color-text btn--link btn--underline text-small text-xs-body-2 ml-3">Просмотр</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Таблица скрыта на (max-width:$sm) -->
						<div class="d-none d-sm-block">
							<table class="table mt-10">
								<tbody class="table-body">
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Логи джекпота</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<button class="btn btn--primary color-text btn--link btn--underline text-body-2">Просмотр</button>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Логи выпадения джекпота</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<button class="btn btn--primary color-text btn--link btn--underline text-body-2">Просмотр</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- ! /Сведения о джекпоте -->

						<!-- Таблица скрыта на (max-width:$sm) -->
						<div class="d-none d-sm-block">
							<table class="table mt-10">
								<tbody class="table-body">
								
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Используется джекпот</div>
										</td>
										<td class="table-cell">
											<div class="text-body-2 fade-80 px-4">9 118 (текущий зал)</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Привязать джекпот зала</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-field-small field-xsmall flex-grow">
													<div class="form-input-cover">
														<select class="form-input pr-10">
															<option value="">18 321 (9 010)</option>
															<option value="">18 322 (9 010)</option>
														</select>
														<div class="form-input-end pr-4 pe-none">
															<svg class="icon text-small">
																<use xlink:href="img/icons.svg#to-right" />
															</svg>
														</div>
													</div>
												</label>
												<button class="btn btn-small btn--primary btn--fill ml-2">Применить</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- ^ Редактировать настройки -->
						<!-- Таблица скрыта на (max-width:$sm) -->
						<div class="d-none d-sm-block">
							<table class="table mt-10">
								<tbody class="table-body">
									<tr class="table-row">
										<td class="table-cell" colspan="100%">
											<div class="text--demibold text--center">Редактировать настройки</div>
										</td>
									</tr>

									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Включен</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-checkbox">
													<input type="checkbox" class="form-input-checkbox">
													<div class="form-checkbox-target">
														<svg class="icon">
															<use xlink:href="./img/icons.svg#gal-ochka" />
														</svg>
													</div>
												</label>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Процент</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-field-small field-xsmall flex-grow">
													<div class="form-input-cover">
														<select class="form-input pr-10">
															<option value="">2</option>
															<option value="">3</option>
														</select>
														<div class="form-input-end pr-4 pe-none">
															<svg class="icon text-small">
																<use xlink:href="img/icons.svg#to-right" />
															</svg>
														</div>
													</div>
												</label>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Таймер</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-field-small mr-2">
													<div class="form-input-cover">
														<div class="text-body-2 fade-80 mr-1">Часов:</div>
														<select class="form-input pr-10">
															<option value="">00</option>
															<option value="">02</option>
															<option value="">03</option>
														</select>
														<div class="form-input-end pr-4 pe-none">
															<svg class="icon text-small">
																<use xlink:href="img/icons.svg#to-right" />
															</svg>
														</div>
													</div>
												</label>
												<label class="form-field form-field-small mr-2">
													<div class="form-input-cover">
														<div class="text-body-2 fade-80 mr-1">Минут:</div>
														<select class="form-input pr-10">
															<option value="">00</option>
															<option value="">02</option>
															<option value="">03</option>
														</select>
														<div class="form-input-end pr-4 pe-none">
															<svg class="icon text-small">
																<use xlink:href="img/icons.svg#to-right" />
															</svg>
														</div>
													</div>
												</label>
												<label class="form-field form-field-small">
													<div class="form-input-cover">
														<div class="text-body-2 fade-80 mr-1">Секунд:</div>
														<select class="form-input pr-10">
															<option value="">00</option>
															<option value="">02</option>
															<option value="">03</option>
														</select>
														<div class="form-input-end pr-4 pe-none">
															<svg class="icon text-small">
																<use xlink:href="img/icons.svg#to-right" />
															</svg>
														</div>
													</div>
												</label>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<!-- ^ /Редактировать настройки -->


						<!-- ~ Время выпадения джекпота -->
						<!-- Таблица скрыта на (max-width:$sm) -->
						<div class="d-none d-sm-block">
							<table class="table mt-10">
								<tbody class="table-body">
									<tr class="table-row">
										<td class="table-cell" colspan="100%">
											<div class="text--demibold text--center">Время выпадения джекпота</div>
										</td>
									</tr>

									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Активировать</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-checkbox">
													<input type="checkbox" class="form-input-checkbox">
													<div class="form-checkbox-target">
														<svg class="icon">
															<use xlink:href="./img/icons.svg#gal-ochka" />
														</svg>
													</div>
												</label>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Начальное время</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-field-small field-xsmall flex-grow">
													<div class="form-input-cover">
														<input type="text" class="form-input" placeholder="00:00">
													</div>
												</label>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Конечное время</div>
										</td>
										<td class="table-cell">
											<div class="flex px-4">
												<label class="form-field form-field-small field-xsmall flex-grow">
													<div class="form-input-cover">
														<input type="text" class="form-input" placeholder="00:00">
													</div>
												</label>
											</div>
										</td>
									</tr>
									<tr class="table-row">
										<td class="table-cell table-cell--mark table-cell--middle">
											<div class="text-body-2 text--demibold text--center">Локальное время</div>
										</td>
										<td class="table-cell">
											<div class="flex flex-align-center px-4">
												<div class="text-body-2 fade-80">22:44:44</div>
												<button class="btn btn-small btn--primary btn--fill ml-3">Скорректировать</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- ~ /Время выпадения джекпота -->
					</div>
				</div>
			</div>
	</div>
</body>

</html>