<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Платежи и зачисления - Stargame</title>
</head>

<body>
	<div class="root">
		<%= _.template(require('./html-includes/header.html').default)() %>

		<div class="wrapper">
			<div class="wrapper-inner">
				<%= _.template(require('./html-includes/sidebar.html').default)() %>

				<div class="content container">
					<div class="text-h6 text-md-h4 color-primary mb-5">Платежи и зачисления</div>
					<%= _.template(require('./html-includes/tabs-by-period.html').default)() %>

					<!-- Выберите период -->
					<div class="text--demibold text-body-2 text-md-body-1 mb-3">Выберите период</div>

					<!-- Мобильный вариант скрыт на (min-width:$sm) -->
					<div class="d-sm-none">
						<div class="text-small mb-2">Дата начала</div>
						<div class="flex flex-align-center mb-3">
							<label class="form-field field-xsmall mr-3 flex-grow">
								<div class="form-input-cover">
									<input type="text" class="form-input pr-12" data-datepicker placeholder="15 апреля 2022">
									<div class="form-input-end pr-4">
										<svg class="icon text-h6 color-primary">
											<use xlink:href="img/icons.svg#calendar" />
										</svg>
									</div>
					
								</div>
							</label>
							<label class="form-field time-field">
								<div class="form-input-cover">
									<input type="text" class="form-input  text--center" placeholder="00">
								</div>
							</label>
							<span class="fade-60 mx-1">:</span>
							<label class="form-field time-field ">
								<div class="form-input-cover">
									<input type="text" class="form-input  text--center" placeholder="00">
								</div>
							</label>
							<button class="btn btn--primary btn--white-bg btn-icon  ml-2">
								<svg class="icon text-h6">
									<use xlink:href="img/icons.svg#settings" />
								</svg>
							</button>
						</div>

						<div class="text-small mb-2">Дата окончания</div>
						<div class="flex flex-align-center mb-3">
							<label class="form-field field-xsmall mr-3 flex-grow">
								<div class="form-input-cover">
									<input type="text" class="form-input pr-12" data-datepicker placeholder="15 апреля 2022">
									<div class="form-input-end pr-4">
										<svg class="icon text-h6 color-primary">
											<use xlink:href="img/icons.svg#calendar" />
										</svg>
									</div>
					
								</div>
							</label>
							<label class="form-field time-field">
								<div class="form-input-cover">
									<input type="text" class="form-input  text--center" placeholder="00">
								</div>
							</label>
							<span class="fade-60 mx-1">:</span>
							<label class="form-field time-field ">
								<div class="form-input-cover">
									<input type="text" class="form-input  text--center" placeholder="00">
								</div>
							</label>
							<button class="btn btn--primary btn--white-bg btn-icon  ml-2">
								<svg class="icon text-h6">
									<use xlink:href="img/icons.svg#settings" />
								</svg>
							</button>
						</div>

						<div class="text-small mb-2">Тип платежа</div>
						<div class="flex flex-align-center mb-3">
							<label class="form-field field-xsmall flex-grow">
								<div class="form-input-cover">
									<select class="form-input">
										<option value="">Все платежи</option>
										<option value="">Не Все платежи</option>
									</select>
									<div class="form-input-end pr-4 pe-none">
										<svg class="icon text-small">
											<use xlink:href="img/icons.svg#to-right" />
										</svg>
									</div>
								</div>
							</label>
						</div>

						<div class="text-small mb-2">Текущий период</div>
						<div class="text-small">
							с 
							<span class="text--underline">2022-04-15 00:00:00 </span>
							по 
							<span class="text--underline">2022-04-29 00:00:00</span>
						</div>
					</div>

					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Дата начала</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input pr-12" data-datepicker placeholder="15 апреля 2022">
													<div class="form-input-end pr-4">
														<svg class="icon text-h6 color-primary">
															<use xlink:href="img/icons.svg#calendar" />
														</svg>
													</div>
									
												</div>
											</label>
											<label class="form-field form-field-small time-field">
												<div class="form-input-cover">
													<input type="text" class="form-input  text--center" placeholder="00">
												</div>
											</label>
											<span class="fade-60 mx-1">:</span>
											<label class="form-field form-field-small time-field ">
												<div class="form-input-cover">
													<input type="text" class="form-input  text--center" placeholder="00">
												</div>
											</label>
											<button class="btn btn--primary btn--white-bg btn-icon btn-xsmall ml-5">
												<svg class="icon text-body-0">
													<use xlink:href="img/icons.svg#settings" />
												</svg>
											</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Дата окончания</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input pr-12" data-datepicker placeholder="15 апреля 2022">
													<div class="form-input-end pr-4">
														<svg class="icon text-h6 color-primary">
															<use xlink:href="img/icons.svg#calendar" />
														</svg>
													</div>
									
												</div>
											</label>
											<label class="form-field form-field-small time-field">
												<div class="form-input-cover">
													<input type="text" class="form-input  text--center" placeholder="00">
												</div>
											</label>
											<span class="fade-60 mx-1">:</span>
											<label class="form-field form-field-small time-field ">
												<div class="form-input-cover">
													<input type="text" class="form-input  text--center" placeholder="00">
												</div>
											</label>
											<button class="btn btn--primary btn--white-bg btn-icon btn-xsmall ml-5">
												<svg class="icon text-body-0">
													<use xlink:href="img/icons.svg#settings" />
												</svg>
											</button>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Тип платежа</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">Все платежи</option>
														<option value="">Не Все платежи</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--small">
										<div class="text-body-2 text--demibold text--center">Текущий период</div>
									</td>
									<td class="table-cell">
										<div class="text-body-2 px-4">
											с 
											<span class="text--underline">2022-04-15 00:00:00 </span>
											по 
											<span class="text--underline">2022-04-29 00:00:00</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Кнопки -->
					<div class="flex flex-justify-center mt-5">
						<button class="btn btn--primary btn--fill w-50 w-xs-auto">Показать</button>
						<button class="btn btn--primary btn--contur ml-3 w-50 w-xs-auto">Свернуть</button>

					</div>
					<!-- /Выберите период -->


					<!-- Основная таблица -->
					<!-- Мобильный вариант скрыт на (min-width:$md) -->
					<div class="d-md-none">
						<div class="mobile-table  mt-5">
							<% for(let i = 0; i < 5; i++ ){ %>
							<div class="mobile-table-item payments-mobile-item p-5">
								<div class="grid">
									<div class="grid-col-7 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Клиент: </span>
											<span class="text--underline">uganda</span>
										</div>
									</div>
									<div class="grid-col-5 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">ID платежа: </span>
											<span class="">8531</span>
										</div>
									</div>
									<div class="grid-col-7 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Сумма:  </span>
											<span class="">4  800 000,00 ₽</span>
										</div>
									</div>
									<div class="grid-col-5 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Проценты %:  </span>
											<span class="">10%</span>
										</div>
									</div>
									<div class="grid-col-12 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Сумма к зачислению: </span>
											<span class="">4  800 000,00 ₽</span>
										</div>
									</div>
									<div class="grid-col-12 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Сумма перевода: </span>
											<span class="">4  800 000,00 ₽</span>
										</div>
									</div>
									<div class="grid-col-12 grid-col-xs-6">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Дата платежа: </span>
											<span class="">2022-04-29 00:00:00</span>
										</div>
									</div>
									<div class="grid-col-7 grid-col-xs-3">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Кредиты: </span>
											<span class="">856 643</span>
										</div>
									</div>
									<div class="grid-col-5 grid-col-xs-3">
										<div class="text-small text-xs-body-2 fade-80">
											<span class="text--demibold">Статус: </span>
											<span class="">выполнен</span>
										</div>
									</div>
								</div>
							</div>
							<% } %>


						</div>
					</div>

					<!-- Таблица скрыта на (max-width:$md) -->
					<div class="d-none d-md-block">
						<table class="table mt-5">
							<thead class="table-head">
								<tr class="table-row">
									<td class="table-cell text-body-2 text--demibold text--center">Клиент</td>
									<td class="table-cell text-body-2 text--demibold text--center">ID платежа</td>
									<td class="table-cell text-body-2 text--demibold text--center">Дата платежа</td>
									<td class="table-cell text-body-2 text--demibold text--center">Сумма ( <span class="text--underline">?</span> )</td>
									<td class="table-cell text-body-2 text--demibold text--center">Сумма к зачислению ( <span class="text--underline">?</span> )</td>
									<td class="table-cell text-body-2 text--demibold text--center">Кредиты</td>
									<td class="table-cell text-body-2 text--demibold text--center">Сумма перевода</td>
									<td class="table-cell text-body-2 text--demibold text--center">%</td>
									<td class="table-cell text-body-2 text--demibold text--center">Статус</td>
								</tr>
							</thead>
							<tbody class="table-body">
								<% for(let i=0; i < 5; i++ ){ %>
									<tr class="table-row">
										<td class="table-cell text-body-2 text--center text--underline">uganda</td>
										<td class="table-cell text-body-2 text--center">8531</td>
										<td class="table-cell text-body-2 text--center">2022-04-29 00:00:00</td>
										<td class="table-cell text-body-2 text--center">4 800 000,00 ₽</td>
										<td class="table-cell text-body-2 text--center">4 800 000,00 ₽</td>
										<td class="table-cell text-body-2 text--center">4 800 000,00 ₽</td>
										<td class="table-cell text-body-2 text--center">4 800 000,00 ₽</td>
										<td class="table-cell text-body-2 text--center">10%</td>
										<td class="table-cell text-body-2 text--center">Выполнен</td>
										
									</tr>
								<% } %>

							</tbody>
						</table>
					</div>
					<!-- /Основная таблица -->

					<!-- DEPOSIT -->
					<!-- Таблица скрыта на (max-width:$sm) -->
					<div class="d-none d-sm-block">
						<table class="table mt-10">
							<tbody class="table-body">
								<tr class="table-row">
									<td class="table-cell" colspan="100%">
										<div class="text--demibold text--center">DEPOSIT</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Агент</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">allen 18829</option>
														<option value="">allen 28829</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Валюта платежа</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">USD</option>
														<option value="">RUB</option>
														<option value="">GRN</option>
														<option value="">EUR</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Сумма платежа</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input" placeholder="Введите сумму">	
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Кредиты</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input" placeholder="Введите кредиты">	
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Рейт</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">10</option>
														<option value="">20</option>
														<option value="">30</option>
														<option value="">40</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Валюта агента</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<select class="form-input">
														<option value="">ZAR</option>
														<option value="">RUB</option>
														<option value="">GRN</option>
														<option value="">EUR</option>
													</select>
													<div class="form-input-end pr-4 pe-none">
														<svg class="icon text-small">
															<use xlink:href="img/icons.svg#to-right" />
														</svg>
													</div>
												</div>
											</label>
										</div>
									</td>
								</tr>
								<tr class="table-row">
									<td class="table-cell table-cell--mark table-cell--small">
										<div class="text-body-2 text--demibold text--center">Сумма (USD)</div>
									</td>
									<td class="table-cell">
										<div class="flex flex-align-center px-4">
											<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
												<div class="form-input-cover">
													<input type="text" class="form-input" placeholder="Введите сумму (USD)">	
												</div>
											</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex flex-justify-center mt-5">
						<button class="btn btn--primary btn--fill">Сохранить</button>
					</div>
					<!-- /DEPOSIT -->

					<!-- Калькулятор валют -->
					<table class="table mt-10">
						<tbody class="table-body">
							<tr class="table-row">
								<td class="table-cell" colspan="100%">
									<div class="text--demibold text--center">Калькулятор валют</div>
								</td>
							</tr>

							<tr class="table-row">
								<td class="table-cell table-cell--mark table-cell--small">
									<div class="text-body-2 text--demibold text--center">Валюта платежа</div>
								</td>
								<td class="table-cell">
									<div class="flex flex-align-center px-4">
										<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
											<div class="form-input-cover">
												<select class="form-input">
													<option value="">USD</option>
													<option value="">RUB</option>
													<option value="">GRN</option>
													<option value="">EUR</option>
												</select>
												<div class="form-input-end pr-4 pe-none">
													<svg class="icon text-small">
														<use xlink:href="img/icons.svg#to-right" />
													</svg>
												</div>
											</div>
										</label>
									</div>
								</td>
							</tr>
							<tr class="table-row">
								<td class="table-cell table-cell--mark table-cell--small">
									<div class="text-body-2 text--demibold text--center">Сумма платежа</div>
								</td>
								<td class="table-cell">
									<div class="flex flex-align-center px-4">
										<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
											<div class="form-input-cover">
												<input type="text" class="form-input" placeholder="Введите сумму платежа">	
											</div>
										</label>
									</div>
								</td>
							</tr>
							<tr class="table-row">
								<td class="table-cell table-cell--mark table-cell--small">
									<div class="text-body-2 text--demibold text--center">Валюта перевода</div>
								</td>
								<td class="table-cell">
									<div class="flex flex-align-center px-4">
										<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
											<div class="form-input-cover">
												<select class="form-input">
													<option value="">ZAR</option>
													<option value="">RUB</option>
													<option value="">GRN</option>
													<option value="">EUR</option>
												</select>
												<div class="form-input-end pr-4 pe-none">
													<svg class="icon text-small">
														<use xlink:href="img/icons.svg#to-right" />
													</svg>
												</div>
											</div>
										</label>
									</div>
								</td>
							</tr>
							<tr class="table-row">
								<td class="table-cell table-cell--mark table-cell--small">
									<div class="text-body-2 text--demibold text--center">Сумма перевода</div>
								</td>
								<td class="table-cell">
									<div class="flex flex-align-center px-4">
										<label class="form-field form-field-small field-xsmall mr-3 flex-grow">
											<div class="form-input-cover">
												<input type="text" class="form-input" placeholder="Введите сумму перевода">	
											</div>
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- /Калькулятор валют -->
				</div>
			</div>
		</div>
	</div>
</body>

</html>