@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
      url('../fonts/SFProDisplay/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFProDisplay/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDisplay/SFProDisplay-Medium.woff') format('woff'),
      url('../fonts/SFProDisplay/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
      url('../fonts/SFProDisplay/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2'),
      url('../fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff'),
      url('../fonts/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
      url('../fonts/SFProDisplay/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFProDisplay/SFProDisplay-Semibold.woff2') format('woff2'),
      url('../fonts/SFProDisplay/SFProDisplay-Semibold.woff') format('woff'),
      url('../fonts/SFProDisplay/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('../fonts/SFProDisplay/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
      url('../fonts/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


