@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';




:root {
	@include getColors(#14A9F6, "primary");
	@include getColors(#EA2027, "sec");
	@include getColors(#246EDD, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#191919, "text");

	// animation: colorChangeAnimation 12s infinite linear;

	--bg1: #ffffff;
	--bg2: #F4F5F6;
	--bg3: #F5F5F5;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;

	--admin-header-height: 42px;
	--header-height      : 52px;
	--sidebar-width      : 300px;
	--space-right        : calc(180 * (100vw - var(--sidebar-width) - 1340px) / (96 + 180));
	--space-left         : calc(96 * (100vw - var(--sidebar-width) - 1340px) / (96 + 180));

	@media(max-width:$xl) {
		--space-left : 15px;
		--space-right: 15px;
	}

}

@keyframes colorChangeAnimation {
	0% {
		@include getColors(#1289A7, "primary");
	}

	10% {
		@include getColors(#5758BB, "primary");
	}

	20% {
		@include getColors(#B53471, "primary");
	}

	30% {
		@include getColors(#ED4C67, "primary");
	}

	40% {
		@include getColors(#EA2027, "primary");
	}

	50% {
		@include getColors(#EE5A24, "primary");
	}

	60% {
		@include getColors(#F79F1F, "primary");
	}

	70% {
		@include getColors(#A3CB38, "primary");
	}

	80% {
		@include getColors(#1289A7, "primary");
	}

	90% {
		@include getColors(#009432, "primary");
	}

	100% {
		@include getColors(#1289A7, "primary");
	}
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);
	--bg1: #242422;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;
	background    : var(--bg1);

	* {
		font-family                : var(--font-base);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	&.menu-open {
		overflow: hidden;
	}
}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.container {
	width        : 100%;
	padding-left : var(--space-left);
	padding-right: var(--space-right);
}

.root {
	display       : flex;
	flex-direction: column;
	flex-grow     : 1;

}

.language {
	&-list {
		display    : flex;
		align-items: center;
		padding-top: 34px;
		border-top : 1px solid #D7D7D7;
		margin-top : 92px;

		&-item {
			&+& {
				margin-left: 22px;
			}
		}
	}

}

.auth-page {
	flex-grow      : 1;
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	padding        : 15px;

	@media(max-width:$md) {
		padding: 60px 15px;
	}

	&__title {
		letter-spacing: -0.5px;
	}

	&-form {
		width    : 320px;
		max-width: 100%;
	}

	&-language-select {
		width: 240px;

		@media(min-width:$md) {
			display: none;
		}
	}

	&-language-list {
		@media(max-width:$md) {
			display: none;
		}
	}
}

.theme-toggle {
	.form-toggle-target:before {
		background: var(--color-text);
	}

	.form-input-checkbox:checked~.form-toggle-target {
		background: var(--bg3);

		&:before {
			background: var(--color-primary);
		}
	}
}

.wrapper {
	flex-grow     : 1;
	display       : flex;
	flex-direction: column;

	@media(min-width:$lg) {
		padding-left: var(--sidebar-width);
	}

	&-inner {
		flex-grow     : 1;
		display       : flex;
		width         : 100%;
		padding-top   : 15px;
		padding-bottom: 15px;
		position      : relative;

	}
}

.header {
	display       : flex;
	align-items   : center;
	background    : var(--bg1);
	padding-top   : 6px;
	padding-bottom: 6px;
	height        : var(--header-height);
	border-bottom : 1px solid var(--color-text-10);
	padding-left  : 0;
	padding-right : var(--space-right);
	position      : sticky;
	top           : 0;
	z-index       : var(--zi-l2);

	@media(max-width:$lg) {
		padding-left: var(--space-left);
	}

	&-info {
		display     : flex;
		align-items : center;
		width       : var(--sidebar-width);
		padding-left: 32px;

		@media(max-width:$md) {
			margin-left : auto;
			flex-grow   : 1;
			padding-left: 0;
		}
	}

	&-filter {
		display: flex;

		@media(max-width:$md) {
			display: none;
		}

		&-field {
			width       : 240px;
			margin-right: 15px;
		}
	}
}

.admin-header~.header {
	@media(min-width:$xl) {
		top: var(--admin-header-height);
	}
}

[data-theme="dark"] .header {
	background: var(--bg2);

}

.sidebar {
	min-width: var(--sidebar-width);
	width    : var(--sidebar-width);

	position      : fixed;
	top           : var(--header-height);
	bottom        : 0;
	left          : 0;
	overflow      : auto;
	padding-top   : 15px;
	padding-bottom: 15px;


	&-inner {
		padding      : 28px;
		width        : 100%;
		background   : var(--bg3);
		border-radius: var(--radius-middle);

		@media(max-width:$lg) {
			background   : none;
			padding-top  : 4px;
			padding-left : 15px;
			padding-right: 15px;
		}
	}

	@media(max-width:$lg) {
		position     : fixed;
		left         : 0;
		top          : 0;
		height       : 100%;
		overflow     : auto;
		z-index      : var(--zi-l5);
		border-radius: 0;
		transition   : .25s ease;
		padding      : 0;
		background   : var(--bg3);

		&:not(.toggle-active) {
			transform: translateX(-100%);
			opacity  : 0;
		}
	}

	&-shadow {
		display: none;

		@media(max-width:$lg) {
			display   : block;
			position  : fixed;
			left      : 0;
			top       : 0;
			width     : 100%;
			height    : 100%;
			z-index   : var(--zi-l4);
			background: rgba(0, 0, 0, 0.5);
			transition: .25s ease;

		}

	}

	&:not(.toggle-active)+&-shadow {
		opacity       : 0;
		pointer-events: none;
	}

	&-info {
		&__item {
			display    : flex;
			align-items: center;

			&+& {
				margin-top: 20px;
			}
		}
	}

	.theme-toggle .form-input-checkbox:checked~.form-toggle-target {
		background: var(--bg1);
	}
}

.admin-header~.wrapper .sidebar {
	@media(min-width:$xl) {
		top: calc(var(--header-height) + var(--admin-header-height));
	}
}

[data-theme="dark"] .sidebar .theme-toggle .form-input-checkbox~.form-toggle-target {
	background: var(--color-text-20);
}

.field-xsmall {
	@media(min-width:$md) {
		max-width: 188px;
		width    : 188px;
	}
}

.field-small {
	@media(min-width:$md) {
		max-width: 240px;
		width    : 240px;
	}
}

.field-middle {
	@media(min-width:$md) {
		max-width: 310px;
		width    : 310px;
	}
}

.field-large {
	@media(min-width:$md) {
		max-width: 444px;
		width    : 444px;
	}
}

.content {
	flex-grow     : 1;
	padding-bottom: 80px;
}

.table {
	width          : 100%;
	border-spacing : 0;
	border-collapse: collapse;
	border         : 1px solid var(--color-text-10);
	box-shadow     :
		inset 0px 1px 0px var(--color-text-10),
		inset -1px 0px 0px var(--color-text-10),
		inset 0px -1px 0px var(--color-text-10),
		inset 1px 0px 0px var(--color-text-10);
	border-radius: 4px;
	overflow     : hidden;

	&-row {}

	&-cell {
		padding: 4px;
		border : 1px solid var(--color-text-10);
		height : 54px;

		&--small {
			width: 148px;
		}

		&--middle {
			width: 370px;
		}
	}

	&-cell--mark,
	&-head &-cell,
	&-footer &-cell {
		background: var(--color-primary-15);
	}

	&-footer {}

	&-footer &-cell {
		&:not(:first-of-type) {
			border-left: none;
		}

		&:not(:last-of-type) {
			border-right: none;
		}
	}
}

.tabs {
	display      : flex;
	background   : var(--color-primary-15);
	border-radius: 4px;

	&__item {
		font-weight  : 400;
		padding-left : 15px;
		padding-right: 15px;

		@media (max-width:$xs) {
			font-size: 12px;
		}

		&.active {
			position   : relative;
			font-weight: 600;

			&:before {
				content      : '';
				position     : absolute;
				height       : 3px;
				left         : 15px;
				right        : 15px;
				bottom       : 0;
				background   : var(--color-primary);
				border-radius: 2px 2px 0 0;
			}
		}

	}
}

.admin-header {
	display    : flex;
	align-items: center;
	background : linear-gradient(var(--color-primary-20), var(--color-primary-20)), var(--bg1);
	height     : var(--admin-header-height);
	position   : sticky;
	top        : 0;
	z-index    : var(--zi-l2);

	@media(max-width:$xl) {
		display: none;
	}

	&-sidebar {
		width  : var(--sidebar-width);
		padding: 5px 30px;
	}

	&-content {
		padding-left : var(--space-left);
		padding-right: var(--space-right);
	}

	&-nav {
		display    : flex;
		margin-left: -20px;

		&__item {
			padding: 10px 20px;
		}
	}
}

.mobile-table {
	border       : 1px solid var(--color-text-10);
	border-radius: 4px;

	&-item {
		&+& {
			border-top: 1px solid var(--color-text-10);
		}
	}
}

.agents-mobile {
	&-item {
		display              : grid;
		align-items          : center;
		grid-template-columns: 2fr 2fr 4fr 1fr auto;
		grid-gap             : 4px;
		padding              : 20px 15px;

	}
}

.halls-mobile {
	&-item {
		&__head {
			display        : flex;
			align-items    : center;
			justify-content: center;
			padding        : 8px 15px;
			width          : 100%;

			@media (max-width:$us) {
				padding-left : 10px;
				padding-right: 10px;
			}
		}

		&__content {
			padding   : 15px;
			border-top: 1px solid var(--color-text-10);

			@media (max-width:$us) {
				padding-left : 10px;
				padding-right: 10px;
			}
		}

		&__footer {
			display    : flex;
			align-items: center;
			padding    : 15px;
			background : var(--color-primary-15);
		}
	}
}

.scroll-box {
	overflow: auto;

	&::-webkit-scrollbar {
		background: rgba(0, 0, 0, 0);
		width     : 5px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background   : var(--color-text-40);
		width        : 5px;
	}

	&-small {
		height: 235px;
	}

	&-middle {}

	&-large {}
}

.pe {
	@include AddMedia {
		&-none {
			pointer-events: none;
		}
	}
}

.pagination {
	display        : flex;
	justify-content: center;

	&-item {
		border-color: var(--color-text-20);
		font-weight : 400;

		&:not(:last-of-type) {
			border-end-end-radius  : 0;
			border-start-end-radius: 0;
		}

		&:not(:first-of-type) {
			border-start-start-radius: 0;
			border-end-start-radius  : 0;
		}

		&+& {
			margin-left: -1px;
		}
	}
}

.breadcrumbs {
	display    : flex;
	align-items: center;

	&-item {
		@media (max-width:$sm) {
			font-size: 12px;
		}
	}
}

.chart {
	@media(max-width:$sm) {
		border: none;

	}

	&-header {
		display      : flex;
		align-items  : center;
		padding      : 12px 28px;
		border-bottom: 1px solid var(--color-text-20);

		@media(max-width:$sm) {
			border         : 1px solid var(--color-text-10);
			background     : var(--color-primary-15);
			text-align     : center;
			justify-content: center;
			border-radius  : 4px;
		}

		&.toggle-active {
			border-radius: 4px 4px 0 0;
		}
	}

	&-content {
		@media(max-width:$sm) {
			border: 1px solid var(--color-text-10);
		}

	}

	&-lines {
		display    : flex;
		align-items: center;

		@media(max-width:$sm) {
			display              : grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap             : 10px;
		}
	}

	&-line {
		&+& {

			@media(min-width:$sm) {
				margin-left: 15px;
			}

		}

		&__icon {
			width        : 25px;
			height       : 4px;
			border-radius: 2px;
			display      : block;

			@media(max-width:$sm) {
				width: 20px;
			}
		}
	}
}

.statistic-item {
	@media (max-width:$sm) {
		border       : 1px solid var(--color-text-20);
		border-radius: var(--radius-small);

	}

	&__head {
		display        : flex;
		align-items    : center;
		width          : 100%;
		color          : var(--color-text);
		justify-content: flex-start;

		@media (max-width:$sm) {
			padding: 8px 16px;
		}
	}

	&__content {
		@media (min-width:$sm) {
			border       : 1px solid var(--color-text-20);
			border-radius: var(--radius-small);
			height       : auto !important;
		}
	}
}

.time-field {
	width: var(--size);

	.form-input {
		width        : 100%;
		padding-left : 0;
		padding-right: 0;
	}
}

.air-datepicker-global-container {
	z-index: var(--zi-l3);
}

option {
	background: var(--bg3);
}

.edit-page-btns {
	position: sticky;
	bottom  : 10px;
	z-index : var(--zi-l1);

	@media (max-width:$sm) {}
}

.accordion {
	&-header {
		position: relative;
	}

	&-icon {
		position : absolute;
		right    : 24px;
		font-size: 12px;
		top      : calc(50% - 6px);
	}

	&-content {}
}

.mobile-table {
	&-tabs {
		display: flex;

		&-item {
			flex-grow    : 1;
			padding-left : 4px;
			padding-right: 4px;

			background   : var(--color-primary-10);
			color        : var(--color-text);
			border-radius: 0;

			&.tab-active:focus,
			&.tab-active {
				background: var(--color-primary);
				color     : #fff;
			}

			&+& {
				border-left: 1px solid var(--color-text-10);
			}
		}
	}
}

.notification {
	width        : 500px;
	max-width    : 100%;
	padding      : 36px 40px;
	border-radius: 4px;

	@media (max-width:$sm) {
		padding: 24px;
	}
}